.navBar {
	display: flex;
	width: 93px;
	height: 20px;
    background-color: grey;
    margin: auto 0;
    margin-right: 38px;
}

.navBar ul {
	text-transform: uppercase;
	margin-top: 0;
	display: flex;
    flex-direction: row;
}

.mainNav ul li a {
	display: block;
	background-color: red;
	color: #fff;
	margin-left: 15px;
	text-align: center;
	padding: 8px;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	font-family: 'Russo One', sans-serif;
	font-weight: 200;

	border-radius: 25px;
	background: #ff3019;
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 27%, rgba(10,14,10,1) 74%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(27%,rgba(110,119,116,1)), color-stop(74%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}

.footerNav ul {
	text-transform: uppercase;
	margin-top: 0;
	display: flex;
	flex-direction: row;
}

.footerNav ul li a {
	display: block;
	background-color: red;
	color: #fff;
	margin-left: 15px;
	text-align: center;
	padding: 8px;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	font-family: 'Russo One', sans-serif;
	font-weight: 200;

	border-radius: 25px;
	background: #ff3019;
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 27%, rgba(10,14,10,1) 74%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(27%,rgba(110,119,116,1)), color-stop(74%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 27%,rgba(10,14,10,1) 74%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}


.footerNav ul li a:hover {
	background: rgb(10,8,9);
	background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(10,14,10,1) 26%, rgba(110,119,116,1) 73%, rgba(174,188,191,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,8,9,1)), color-stop(26%,rgba(10,14,10,1)), color-stop(73%,rgba(110,119,116,1)), color-stop(100%,rgba(174,188,191,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 26%,rgba(110,119,116,1) 73%,rgba(174,188,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 26%,rgba(110,119,116,1) 73%,rgba(174,188,191,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 26%,rgba(110,119,116,1) 73%,rgba(174,188,191,1) 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 26%,rgba(110,119,116,1) 73%,rgba(174,188,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */
}